:root {
  --bg-color-1: #121418;
  --bg-color-2: #404244;
  --bg-color-3: #808284;
  --text-color-1: #391566;
  --text-color-2: #9975b6;
  --text-color-3: #dcdcdc;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
